apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: {{ application_name }}
    service: {{ application_name }}
  name: {{ application_name }}
  namespace: {{ namespace }}
spec:
  replicas: 1
  selector:
    app: {{ application_name }}
    service: {{ application_name }}
  template:
    metadata:
      labels:
        app: {{ application_name }}
        service: {{ application_name }}
    spec:
      containers:
      - image: ' '
        imagePullPolicy: IfNotPresent
        name: keycloak
        readinessProbe:
          initialDelaySeconds: 40
          failureThreshold: 10
          httpGet:
            path: /
            port: web
        livenessProbe:
          initialDelaySeconds: 200
          httpGet:
            path: /
            port: web
        env:
        - name: KEYCLOAK_USER
          value: {{ admin_username }}
        - name: KEYCLOAK_PASSWORD
          value: {{ admin_password }}
        - name: PROXY_ADDRESS_FORWARDING
          value: 'true'
{% if _apb_plan_id == 'ephemeral' %}
        - name: DB_VENDOR
          value: H2
{% elif _apb_plan_id == 'persistent' %}
        - name: POSTGRES_USER
          value_from:
            secret_key_ref:
              name: {{ postgres_name }}
              key: database-user
        - name: POSTGRES_PASSWORD
          value_from:
            secret_key_ref:
              name: {{ postgres_name }}
              key: database-password
        - name: POSTGRES_DATABASE
          value_from:
            secret_key_ref:
              name: {{ postgres_name }}
              key: database-name
{% endif %}
        ports:
        - containerPort: 8080
          protocol: TCP
          name: web
        resources: {}
  triggers:
  - type: ConfigChange
  - imageChangeParams:
      automatic: true
      containerNames:
      - keycloak
      from:
        kind: ImageStreamTag
        name: {{ application_name }}:{{ keycloak_image_tag }}
        namespace: {{ namespace }}
    type: ImageChange
