apiVersion: v1
kind: ImageStream
metadata:
  labels:
    app: {{ application_name }}
  name: {{ application_name }}
  namespace: {{ namespace }}
spec:
  lookupPolicy:
    local: false
  tags:
  - name: {{ keycloak_image_tag }}
    from:
      kind: DockerImage
      name: {{ keycloak_image_name }}:{{ keycloak_image_tag }}
