---
apiVersion: v1
data:
  CHE_HOST: "{{ route_host }}"
  CHE_PORT: "{{ che_port }}"
  CHE_API: "http://{{ route_host }}/api"
  CHE_WEBSOCKET_ENDPOINT: "ws://{{ route_host }}/api/websocket"
  CHE_DEBUG_SERVER: "{{ che_debug_server }}"
  CHE_INFRASTRUCTURE_ACTIVE: "{{ che_infrastructure_active }}"
  CHE_INFRA_KUBERNETES_BOOTSTRAPPER_BINARY__URL: "http://{{ route_host }}/agent-binaries/linux_amd64/bootstrapper/bootstrapper"
  CHE_INFRA_KUBERNETES_MACHINE__START__TIMEOUT__MIN: "{{ che_infra_kubernetes_machine__start__timeout__min }}"
  CHE_INFRA_KUBERNETES_MASTER__URL: "{{ che_infra_kubernetes_master__url }}"
  CHE_INFRA_KUBERNETES_OAUTH__TOKEN: "{{ che_infra_kubernetes_oauth__token }}"
  CHE_INFRA_KUBERNETES_PASSWORD: "{{ che_infra_kubernetes_password }}"
  CHE_INFRA_OPENSHIFT_PROJECT: "{{ che_infra_openshift_project }}"
  CHE_INFRA_OPENSHIFT: "{{ che_infra_openshift }}"
  CHE_INFRA_KUBERNETES_PVC_STRATEGY: "{{ che_infra_kubernetes_pvc_strategy }}"
  CHE_INFRA_KUBERNETES_PVC_PRECREATE__SUBPATHS: "{{ che_infra_kubernetes_pvc_precreate__subpaths  | bool | lower }}"
  CHE_INFRA_KUBERNETES_PVC_QUANTITY: "{{ che_infra_kubernetes_pvc_quantity }}"
{% if che_infra_kubernetes_pvc_name != "" %}
  CHE_INFRA_KUBERNETES_PVC_NAME: "{{ che_infra_kubernetes_pvc_name }}"
{% endif %}
  CHE_INFRA_OPENSHIFT_TLS__ENABLED: "{{ che_infra_openshift_tls__enabled }}"
  CHE_INFRA_KUBERNETES_TRUST__CERTS: "{{ che_infra_kubernetes_trust__certs  | bool | lower }}"
  CHE_INFRA_KUBERNETES_USERNAME: "{{ che_infra_kubernetes_username }}"
  CHE_JDBC_USERNAME: "{{ che_jdbc_username }}"
  CHE_JDBC_URL: "{{ che_jdbc_url }}"
  CHE_JDBC_PASSWORD: "{{ che_jdbc_password }}"
  CHE_KEYCLOAK_AUTH__SERVER__URL: "{{ keycloak_uri }}/auth"
  CHE_KEYCLOAK_CLIENT__ID: "{{ che_keycloak_client__id }}"
  CHE_KEYCLOAK_GITHUB_ENDPOINT: "{{ che_keycloak_github_endpoint }}"
  CHE_KEYCLOAK_OSO_ENDPOINT: "{{ che_keycloak_oso_endpoint }}"
  CHE_KEYCLOAK_REALM: "{{ che_keycloak_realm }}"
  CHE_LOCAL_CONF_DIR: "{{ che_local_conf_dir }}"
  CHE_LOGS_DIR: "{{ che_logs_dir }}"
  CHE_LOG_LEVEL: "{{ che_log_level }}"
  CHE_MULTIUSER: "{{ che_multiuser | bool | lower }}"
  CHE_OAUTH_GITHUB_CLIENTID: "{{ che_oauth_github_clientid }}"
  CHE_OAUTH_GITHUB_CLIENTSECRET: "{{ che_oauth_github_clientsecret }}"
  CHE_PREDEFINED_STACKS_RELOAD__ON__START: "{{ che_predefined_stacks_reload__on__start | bool | lower }}"
  CHE_WORKSPACE_AUTO_START: "{{ che_workspace_auto_start | bool | lower }}"
  JAVA_OPTS: "-XX:MaxRAMFraction=2 -XX:+UseParallelGC -XX:MinHeapFreeRatio=10 -XX:MaxHeapFreeRatio=20 -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap -Dsun.zip.disableMemoryMapping=true -Xms20m "
kind: ConfigMap
metadata:
  name: che
