---
CHE_HOST: "{{ route_host }}"
CHE_PORT: "8080"
CHE_API: "{{ route_host }}/api"
CHE_WEBSOCKET_ENDPOINT: "ws://{{ route_host }}/api/websocket"
CHE_DEBUG_SERVER: "true"
CHE_INFRASTRUCTURE_ACTIVE: openshift
CHE_INFRA_KUBERNETES_BOOTSTRAPPER_BINARY__URL: "{{ route_host }}/agent-binaries/linux_amd64/bootstrapper/bootstrapper"
CHE_INFRA_KUBERNETES_MACHINE__START__TIMEOUT__MIN: "5"
CHE_INFRA_KUBERNETES_MASTER__URL: ''
CHE_INFRA_KUBERNETES_OAUTH__TOKEN: ""
CHE_INFRA_KUBERNETES_PASSWORD: ""
CHE_INFRA_OPENSHIFT_PROJECT: ""
CHE_INFRA_KUBERNETES_PVC_STRATEGY: "unique"
CHE_INFRA_KUBERNETES_PVC_PRECREATE__SUBPATHS: "true"
CHE_INFRA_OPENSHIFT_TLS__ENABLED: "false"
CHE_INFRA_KUBERNETES_TRUST__CERTS: "false"
CHE_INFRA_KUBERNETES_USERNAME: ""
CHE_JDBC_USERNAME: "pgche"
CHE_JDBC_URL: "jdbc:postgresql://postgres:5432/dbche"
CHE_JDBC_PASSWORD: "pgchepassword"
CHE_KEYCLOAK_AUTH__SERVER__URL: "{{ keycloak_uri }}/auth"
CHE_KEYCLOAK_CLIENT__ID: "che-public"
CHE_KEYCLOAK_GITHUB_ENDPOINT: "https://sso.openshift.io/auth/realms/fabric8/broker/github/token"
CHE_KEYCLOAK_OSO_ENDPOINT: "https://sso.openshift.io/auth/realms/fabric8/broker/openshift-v3/token"
CHE_KEYCLOAK_REALM: "che"
CHE_LOCAL_CONF_DIR: /etc/conf
CHE_LOGS_DIR: /data/logs
CHE_LOG_LEVEL: "INFO"
CHE_MULTIUSER: "true"
CHE_OAUTH_GITHUB_CLIENTID: ""
CHE_OAUTH_GITHUB_CLIENTSECRET: ""
CHE_PREDEFINED_STACKS_RELOAD__ON__START: "true"
JAVA_OPTS: "-XX:MaxRAMFraction=2 -XX:+UseParallelGC -XX:MinHeapFreeRatio=10 -XX:MaxHeapFreeRatio=20 -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap -Dsun.zip.disableMemoryMapping=true -Xms20m "
CHE_WORKSPACE_AUTO_START: "false"
